@{
   var logo = AppSettings.Value.Application.UrlLogoU;
    var alt = AppSettings.Value.Application.AltUrlLogoU;
    var clas = AppSettings.Value.Application.ClassUrlLogoU;
   
    <div class="preheader bg-unipi">
        <div class="container-fluid">
            <div class="row">
                <div class="col-7 col-sm-8 d-flex align-items-end">
                    <div class="brand site-title clearfix show-title">
                        <a class="site-title h2"
                           rel="home"
                           href="/"
                           title="Home"
                           itemprop="url">@AppSettings.Value.Application.NomeAppLong</a>
                    </div>
                </div>
                <div class="col-5 col-sm-4 d-flex align-items-center justify-content-end">
                    <a href="/">
                        <img src="~/@logo" alt="@alt" style="vertical-align: bottom; border-style: none;" class="img-fluid @clas">
                    </a>
                </div>
            </div>
            <div class="row small pt-1 pb-2">
            </div>
        </div>
    </div>
}