@model UPlant.Models.DB.TipoPrioritaAlberi

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TipoPrioritaAlberi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="descrizione" class="control-label"></label>
                <input asp-for="descrizione" class="form-control" />
                <span asp-validation-for="descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descrizione_en" class="control-label"></label>
                <input asp-for="descrizione_en" class="form-control" />
                <span asp-validation-for="descrizione_en" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="organizzazione" class="control-label"></label>
                <input asp-for="organizzazione" class="form-control" />
                <span asp-validation-for="organizzazione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ordinamento" class="control-label"></label>
                <input asp-for="ordinamento" class="form-control" />
                <span asp-validation-for="ordinamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
