@model UPlant.Models.DB.Regioni
@inject LanguageService language
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Regioni</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="codice" class="control-label"></label>
                <input asp-for="codice" class="form-control" />
                <span asp-validation-for="codice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descrizione" class="control-label"> @language.Getkey("Global_Description")</label>
                <input asp-for="descrizione" class="form-control" />
                <span asp-validation-for="descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descrizione_en" class="control-label">@language.Getkey("Global_English_Description")</label>
                <input asp-for="descrizione_en" class="form-control" />
                <span asp-validation-for="descrizione_en" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
