@model UPlant.Models.DB.InterventiAlberi

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Interventi Alberi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="individuo" class="control-label"></label>
                <select asp-for="individuo" class="form-control" asp-items="ViewBag.individuo"></select>
                <span asp-validation-for="individuo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataapertura" class="control-label"></label>
                <input asp-for="dataapertura" class="form-control" />
                <span asp-validation-for="dataapertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="priorita" class="control-label"></label>
                <select asp-for="priorita" class="form-control" asp-items="ViewBag.priorita"></select>
                <span asp-validation-for="priorita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="intervento" class="control-label"></label>
                <select asp-for="intervento" class="form-control" asp-items="ViewBag.intervento"></select>
                <span asp-validation-for="intervento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fornitore" class="control-label"></label>
                <select asp-for="fornitore" class="form-control" asp-items="ViewBag.fornitore"></select>
                <span asp-validation-for="fornitore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="motivo" class="control-label"></label>
                <input asp-for="motivo" class="form-control" />
                <span asp-validation-for="motivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="esitointervento" class="control-label"></label>
                <input asp-for="esitointervento" class="form-control" />
                <span asp-validation-for="esitointervento" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="statoIntervento" /> @Html.DisplayNameFor(model => model.statoIntervento)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="utenteapertura" class="control-label"></label>
                <select asp-for="utenteapertura" class="form-control" asp-items="ViewBag.utenteapertura"></select>
                <span asp-validation-for="utenteapertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="utenteultimamodifica" class="control-label"></label>
                <select asp-for="utenteultimamodifica" class="form-control" asp-items="ViewBag.utenteultimamodifica"></select>
                <span asp-validation-for="utenteultimamodifica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}