<footer class="main-footer bg-unipi">
    <!-- To the right -->
    <div class="float-right hidden-xs">
        <environment names="Development, Staging">
            @*<a href="@Url.Action("Changelog","Home", null)">CHANGELOG</a> -*@
        </environment>
    </div>
    <!-- Default to the left -->
    <div style=" color: #ffffff">
        &copy; <small>2020-@DateTime.Now.ToString("yy")</small> @AppSettings.Value.Application.NomeAppLong - <a style="font-weight: normal !important; color: #ffffff" target="_blank" href="https://www.unipi.it/">@Html.Raw(AppSettings.Value.Application.Universita)</a>
    </div>
</footer>