@{
    <nav class="main-header navbar navbar-expand  border-bottom  customBorder bgBottomHeader">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars rsptButton"></i></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto unipi-navbar">
            <!-- User Account Menu -->
            @await Component.InvokeAsync("MenuNotification")
            @await Component.InvokeAsync("MenuUser")
        </ul>
    </nav>
}