@model IEnumerable<UPlant.Models.DB.ImmaginiIndividuo>

@{
   
    ViewBag.Title = "Upload immagini";
}
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #3c8dbc; ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModal-label" style="color: azure">Upload Immagini</h4>
                </div>
                <div class="modal-body">


                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-success alert-dismissible" style="margin-top:20px">
                            @ViewBag.Message
                        </div>
                    }
                    @using (Html.BeginForm("UploadImg", "Individui", FormMethod.Post, new
                    {
                        enctype = "multipart/form-data",
                        @id = "upimma",
                        onsubmit = "return validateForm(this);"
                    }))
                    {
                        @Html.AntiForgeryToken()




                        <input type="hidden" autocomplete="off" name="idindividuo" value="@ViewBag.individuo" required />
                        <input type="hidden" autocomplete="off" name="tipo" value="@ViewBag.tipo" required />
                        <label id="errore" class="alert-danger" style="display:none"></label>
                        <input type="file" name="files" multiple required />
                        
                        <textarea name="descrizione" rows="4" cols="50" autocomplete="off" placeholder="Descrizione" required></textarea>
                        <br />
                        <input type="text" name="credits" placeholder="Credits" />
                        <br />
                        <input type="submit" value="Aggiungi" class="btn btn-default" />



                    }





                </div>


            </div>
        </div>
    </div>
</div>