@model UPlant.Models.DB.Individui

@{
    ViewBag.Title = "Validazione Individuo";
}





<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title text-red">Confermi la validazione di tutti gli individui?</h3>
                <form role="form">
                    <div class="box-body">

                        


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>









@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Valida" class="btn btn-success" /> |
   
    @Html.ActionLink("Torna Indietro", "../Individui", new { valida = "yes" })
          </div>
}