@model UPlant.Models.DB.Users
@inject LanguageService language
@{
    ViewData["Title"] = "Edit";
}

<div class="card card-outline card-primary">
    <div class="card-header with-border">
        <h3 class="card-title">@language.Getkey("Global_Edit") Utente</h3>
    </div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <b>Nome</b>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>Cognome</b>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>Account</b>
                <input asp-for="UnipiUserName" class="form-control" />
                <span asp-validation-for="UnipiUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>Codice Fiscale</b>
                <input asp-for="CF" class="form-control" />
                <span asp-validation-for="CF" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsEnabled" /> <b>Attivo</b>
                </label>
            </div>
           @*  <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedFrom" class="control-label"></label>
                <input asp-for="CreatedFrom" class="form-control" />
                <span asp-validation-for="CreatedFrom" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label class="control-label">Ruolo</label>
                <select name="ruolo" class="form-control" asp-items="ViewBag.Ruolo"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipologiaUtente" class="control-label"></label>
                <select asp-for="TipologiaUtente" class="form-control" asp-items="ViewBag.TipologiaUtente"></select>
                <span asp-validation-for="TipologiaUtente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organizzazione" class="control-label">@language.Getkey("Global_Organization")</label>
                <select asp-for="Organizzazione" class="form-control" asp-items="ViewBag.Organizzazione"></select>
                <span asp-validation-for="Organizzazione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@language.Getkey("Global_Save")" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">@language.Getkey("Global_Go_Back")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
